* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    border: 1px solid black;
}

.grid-container {
    display: grid;
    height: 90%;
    grid-template-areas: 
                         "section1 section2"
                         "main main"
                         "main main"
                         "footer footer";
                         
}

nav {
    height: 10%;
    background-color: aquamarine;
}

.one{
    grid-area: section1;
    background-color: blue;

}

.two{
    grid-area: section2;
    background-color: red;

}

main {
    grid-area: main;
    background-color: yellow;

}

footer {
    grid-area: footer;
    background-color: purple;

}

.one, .two, main, footer {
    align-content: center;
    text-align: center;
    font-size: 30px;
    color: white;
    border-radius: 5px;
    margin: 5px;
}

/* nav section */
nav{
    display: flex;
    justify-content: flex-end;
}

a {
    color: grey;
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

/* laptop :- 1024px
    tablet :- 760px
*/
@media screen and (max-width: 1024px) and (min-width: 760px){
    nav{
        justify-content: space-between;
    }
    .grid-container{

    grid-template-areas: 
                         "section1 section1"
                         "main main"
                         "section2 section2"
                         "footer footer";
    }
}